.App {
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #fff9b4);
  width: 100%;
  height: auto;
  padding-bottom: 8px;
}
.logo-img {
  width: 30%;
  height: 150px;
}
.award-img {
  width: 500px;
}

.first-container {
  display: flex;
  width: 100%;
}

.award-container {
  flex-grow: 1;
  text-align: left;
}
.award-taking {
  width: 900px;
}
.heading {
  font-size: medium;
  font-weight: bolder;
}
ul {
  width: 850px;
}

ul > li {
  font-size: medium;
  font-weight: 500;
}
.about-award {
  font-size: medium;
  font-weight: 500;
}

.middle-container {
  width: 95%;
}

.tools-img {
  width: 70%;
}

.footer {
  width: 98%;
  background-color: red;
  height: 100px;
  margin-right: auto;
  margin-left: auto;

  color: white;
}

.icon {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.footer-content {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.second-container {
  border-top: 3px solid red;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  width: 90%;
}
.second-heading {
  font-weight: bold;
}
